*
{
	padding: 0em;
	margin: 0em;
}
#main_page
{
	min-width: 360px;
	max-width: 1500px;
	margin: 0em auto;
	overflow: hidden;
}
#main_page > header
{
	background: -webkit-linear-gradient(top, #f3f7f4, #fff793);
	height: 5.6em;
}
#dctm_logo
{
	width: 20em;
	margin-left: 1em;
	margin-top: .5em;
	float: left;
}
#navigation_bar
{
	height: 4em;
	background: #383232;
}
#nav_icon, #close_nav_icon
{
	width: 4em;
	margin-left: .5em;
	margin-top: .45em;
	cursor: pointer;
}
#search_input, #search_btn
{
	float: right;
	position: relative;
	top: -3em;
	right: 1em;
	margin: 0em .1em;
	height: 1.7em;
}

#search_input
{
	width: 50%;
	border: none;
	background: none;
	outline: none;
	color: #dae6f7;
	font-size: 1em;
	border-bottom: 1px solid #c9ddf9;
}
#search_input::placeholder
{
	color:#ab9e9e;
}
#search_btn
{
	top: -3.3em;
	padding: 0em .5em;
	height: 2em;
	border-radius: .5em;
	font-weight: bold;
	outline: none;
}
#hidden_bar
{
	background: #ffffff;
	min-height: 10em;
	width: 11em;
	position: absolute;
	left: -11.5em;
	border-bottom: 7px solid #1f0b0b;
	box-shadow: 4px 4px 10px grey;
	text-align: center;
	overflow: hidden;
	padding: .5em 0em;
	z-index: 100;
}
section
{
	widht: 14em;
}

#hidden_bar_list
{
	margin: 0.5em;
}
#hidden_bar_list li
{
	font-family: tahoma;
	border: 3px solid #988d8d;
	border-top: none ;
	border-bottom: none ;
	background: #e4dcdc;
	text-align: center;
	color: #0b4e65;
	margin:0.5em 0em;
}
#hidden_bar_list li a
{
	text-decoration: none;
	color: #0b4e65;
	display: block;
	padding: .5em;
	cursor: pointer;
}
#log_in_section
{
	min-height: 20.3em;
	position: relative;
	margin: 0em auto;
	padding: 0em 1em;
}
#log_in
{
	background: #d6cfcf;
	height: 15em;
	margin: 0em auto;
	max-width: 25em;
	position: relative;
	top: 5em;
	border: 1px solid black;
}
#log_in_heading
{
	text-align: center;
	width:100%;
	position: absolute;
	padding: .4em 0em;
	background: #fff4aa;
	border-bottom: 3px solid black;
}
#login_table_section
{
	margin: 1.5em 0em;
}

#login_table
{
	margin: 3em auto;
	width: 80%;
}
#login_table td
{
	text-align: center;
}

#login_table td input[type="text"], #login_table td input[type="password"]
{
	width: 99%;
	padding: 0em .3em;
	border: none;
	height: 2em;
	margin: .5em 0em;
	background: none;
	border-bottom: 1px solid black;
	outline: none;
	font-size: 1em;
}

#login_table td input[type="submit"]
{
	font-size: 1em;
	padding: 0.5em .8em;
	border-radius: .5em;
	background: #d5e6f5;
	border: 1px solid black;	
	box-shadow: 3px 3px 10px black;
	font-family: tahoma;
	margin-top: .7em;
	outline: none;
}
footer
{
	background: #5a5a5c;
	color: #d6d1d1;
	padding: .5em 0em;
	position: absolute;
	max-width: 1500px;
	width: 100%; 
	bottom: 0;
	margin: 0em auto;
}
#copywrite
{
	text-align: center;
}